Value DEVICE_ID (\S+)
Value LOCAL_INTF (\S+)
Value CAPABILITY ([A-Z]+)
Value PORT_ID (\S+)

Start
  ^Device.*Port ID -> ShowLLDPNei

ShowLLDPNei
  ^${DEVICE_ID}\s+${LOCAL_INTF}\s+\d+\s+${CAPABILITY}\s+${PORT_ID} -> Record

EOF

